/* ----- HEADER ----- */

header{
    background: linear-gradient(180deg, rgba(141, 106, 175, 0.81) 22.97%, rgba(73, 12, 134, 0) 100%);
    background-color: #FFFFFF;
} /* Color header */ 

#imgSpa{
    color: white;
    font-size: 35px;
    font-family: 'Noto Sans', sans-serif;
    display: flex;
    justify-content: center;
    padding-top: 1rem;
} /* estilo letras, logo header */

.nav-link{
    font-size: 23px;
    margin-right: 40px;
    font-weight: 700;
} /* estilo link navegadores de paginas */

.text-primary{
    color: #512A5F!important;
} /* estilo link navegadores de paginas */

a.text-primary:focus, a.text-primary:hover {
    color: #837295 !important;
} /* estilo link navegadores de paginas */





/* ----- FOOTER ----- */
/*color del campo de correo*/
.form-control:focus {
    border-color: #c112ea; 
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 5px rgba(193, 18, 234, 0.6); 
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 5px rgba(193, 18, 234, 0.6);
}


.card_footer{
    background-color:  #EEBFFF!important;
    text-align: center;
    padding-top: 0px;
    padding-bottom: 0px;
} /*Div card_footer*/

footer{
    background: linear-gradient(180deg, rgba(190, 162, 218, 0) 4.32%, #B69BD1 63.78%);
    border: 1px solid #FFFFFF;
    position: absolute;
    bottom: 0;
    width: 100%;
}/* Color y posición Footer*/

.card{
    background:none;
    border: none;
    padding-right: 0px;
    padding-left: 0px;
    padding-top: 20px;
} /* Omite borde, color y padding de card´s Footer*/

.card-body {
    padding: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
}/* Padding de car´d individuales Footer*/

.cardAtencion, .cardAtencion:hover {
    color: #512A5F!important;
}/* Hover enlaces Atencion a clientes Footer*/

p {
    margin-top: 0px;
    margin-bottom: .3rem;
} /* Separacion entre lineas Footer*/

.row{
    margin-left: 10px;
    margin-right: 10px;
    padding-top: 20px;
}/* Margen del div general row Footer*/

.card-title{
    color: #512A5F;
    font-size: 16px;
    font-weight: 700;
    text-align: center;
}/* estilo titulos de card´s Footer*/

.card-text{
    text-align: center;
    color: #512A5F;
}/* Stilo texto/parrafo de card´s Footer*/

.redes, .bi{
    align-content: center;
    font-size: 25px;
    color: #512A5F;
    line-height: 0;
    text-align: left;
} /* estilo redes sociales Footer*/

.bi:focus, .bi:hover {
    color: #837295 !important;
} /* hover bi-redes Footer*/ 

.redes{
    display: flex;
    justify-content: center;
} /* Posición iconos redes sociales Footer*/

.btnSuscribirse{
    display: flex;
    justify-content: center;
    background: #A97798; 
    border-radius: 10px; 
    border: none;
    color: white;
    font-size: 16px;
    font-weight: 600;
    padding: 5px 20px 5px 20px;
    margin-top: 10px;
    /* Actualizacion para efecto boton Footer*/
    transition: color 0.5s, background 0.5s;

}/* estilo botón suscribirse*/

/*-----Efecto------------------*/
.btnSuscribirse:hover{
    color: white;
    background-color:  #C4ACD8 ;
}   /* Estilo boton suscribirse Footer*/

.btnSuscribirse:active{
    box-shadow: inset 0 0 20px white;
}   /* Estilo boton suscribirse Footer*/

.botonSus{
    margin-left: 40px;
    margin-right:40px;
}/* Margen card boton suscribirse Footer*/




@media screen and (max-width: 576px) {
    #btnBq {
        display: none;
    } /* Desaparece boton busqueda movil */

    #lupacont {
        display: none;
    }/* Desaparece lupa busqueda movil */

    #imgSpa {
        /* position: relative;
        left: 5rem; */
        display: flex;
        justify-content: center;
        font-size: 28px;
    } /* Posición img-logoSpa movil */ 

    .button-nav{
        position: relative;
        bottom: 60px;
        left: 10px;  
    } /* Posición boton navegador movil */

    .logo_blanco{
        width: 52px;
    } /* color y tamaño de iconos */

}

@media screen and (max-width: 990px) {

        #btnBq {
            display: none;
        } /* Desaparece boton busqueda movil */
    
        #lupacont {
            display: none;
        }/* Desaparece lupa busqueda movil */

        #imgSpa {
            /* position: relative;
            left: 5rem; */
            display: flex;
            justify-content: center;
        } /* Posición img-logoSpa movil */ 
    
        .button-nav{
            position: relative;
            bottom: 60px;
            left: 10px;  
        } /* Posición boton navegador movil */
}
