/* ----FOOTER---------------------------------*/

body{
    font-family: Raleway, sans-serif;
    position: relative;
    padding-bottom: 15rem ;
    min-height: 100vh;
}/* Ajuste body para no alterar footer*/
    /* SE AGREGA A CSS 9/1/22 */

@media screen and (max-width: 576px) {

    body{
        position: relative;
        padding-bottom: 35rem ;
        min-height: 100vh;
    }/* Ajuste body para no alterar footer*/
        /* SE AGREGA A CSS 9/1/22 */

}

@media screen and (max-width: 970px) {

    body{
        position: relative;
        padding-bottom: 35rem;
        min-height: 100vh;
        
    }/* Ajuste body para no alterar footer*/
        /* SE AGREGA A CSS 9/1/22 */
   
        
}

/*------------------------------------------------*/

.espacioimg{
    margin-top: 30px;
}

.espaciofrase{
    margin-bottom: 150px;
}



.titulo{
    font-weight: 400;
    font-size: 73px;
    line-height: 86px;
    text-align: center;
    color: #512A5F; 
}
.subtitulos{
    font-weight: 600;
    font-size: 28px;
    line-height: 23px;
    text-align: center;
    color:  #512A5F; 
    margin-top: 2.5rem;
}
.descripcion{
    display: flex;
    font-size: 18px;
    line-height: 23px;
    text-align: justify;
    color:  #512A5F; 
    margin-top: 1.5rem;
    margin-bottom: 2rem;
    border-radius: 10px;
}





@media (max-width: 992px)  {
    .titulo{
        font-weight: 400;
        font-size: 40px;
    }

    .subtitulos{
        font-size: 20px;
    }
    .parrafo{
        font-size: 15px;
    }

}

